[2020-12-09 22:23] YoungPhoenix09 opened #2 "Saying Stock Found When Line Isn't Up"
Hello,

I am finding that when I execute the `run watch` command it is instantly popping up and saying the queue is open, even though it is not.  Is there something I'm not doing correctly?  I followed the instructions for setting up. and I'm currently running v12.18.1 of node.  Attached is a screenshot of what I see happen as soon as I run it, as well as verification of my node version.  Please l

[2020-12-09 22:25] robbiered commented on #2
same issue

[2020-12-09 22:29] camtheperson commented on #2
@YoungPhoenix09 @robbiered Can you try using the latest LTS version of Node (14.15.1) and letting me know if that resolves the issue? Thanks.

[2020-12-09 22:45] robbiered commented on #2
I am

PS E:\a\get-my-ps5> node -v
v14.15.1

[2020-12-09 22:54] robopotamus commented on #2
Getting the same thing. Just installed the latest node.js as well and same issue.

[2020-12-09 22:55] camtheperson commented on #2
@robbiered @robopotamus Okay please also provide the following info when you get a chance:

- Platform (Windows? Mac? What version?)
- npm version

I'll be doing some more troubleshooting tonight, hoping to iron out these issues before the next PS5 drop.

[2020-12-09 22:59] robopotamus commented on #2
@camtheperson

Windows 10 Pro Build 19042
npm v7.0.15

[2020-12-09 22:59] robbiered commented on #2
Windows 10 build 19042.630 AND Mac OS Big Sur

Windows - 6.14.8
Mac - 7.0.15

Same issue on both machines

[2020-12-09 23:10] YoungPhoenix09 commented on #2
@camtheperson
Thanks for looking into it!  Just a heads up, I just updated my node version and am still having the same issue.
Platform: Mac OS Catalina (10.15.7)
node version: 14.15.1
npm version: 6.14.8

[2020-12-09 23:15] jcarman81 commented on #2
I’m completely lost with the setup. Anyone help a noob?

Joe Carman

[2020-12-10 00:42] robopotamus commented on #2
@camtheperson I installed https://1.1.1.1/ and then reset my ipconfig. Went from tapping out at 2 pings to currently sitting at 40+ without false positives

[2020-12-10 00:47] jvandorn commented on #2
FYI, works fine for me, installed today (post drop): MacOS Mojave 10.14.16, node: 14.15.1, npm: 6.14.8

[2020-12-10 00:57] YoungPhoenix09 commented on #2
Tried installing 1.1.1.1 and renewed my IP lease.  Still getting false positives here.

[2020-12-10 03:12] youenjoymyself commented on #2
Having same issue with false positives.  False positive can happen on the first try or like 4th or 5th, isn't the first attempt every time.
Windows 10 1909
NPM 6.14.8
Node: 14.15.1
Flushed dns and tired 8.8.8.8 and 1.1.1.1 with same result.

[2020-12-10 03:19] dronf commented on #2
I think the redirect and captcha is mainly triggered by load. I installed this and hour or two after today's drop, and immediately got a false positive, but I think it was because so many people were hitting the site still.  Even though it had been sold out for hours, I still got the captcha when manually browsing there.

[2020-12-10 03:47] youenjoymyself commented on #2
Yeah I think you are right.  I have been doing some testing and it will send me to direct-queue.playstation.com sometimes when manually browsing to the site.

[2020-12-10 04:17] camtheperson commented on #2
@youenjoymyself I just observed this myself. Looks like Sony may have wised up.

Steps to replicate:
1. Go to https://direct.playstation.com/en-us/consoles/console/playstation5-console.3005816
2. Occasionally, I'll get send to a page with reCAPTCHA and a URL starting with "https://direct-queue.playstation.com/softblock/"

Welp.

[2020-12-10 05:05] cristiang777 opened #3 "No JavaScript enabled in the response.data"
Trying this in ChromeOS (Google Pixelbook) and the reponse.data contains something like this (instead of the page content):

[code]

node version: v14.15.1
npm version: 6.14.9

Edit: Same on Mac OS Big Sur (11) / node v15.3.0 / npm 7.0.14

[2020-12-10 06:38] RenewedKeys commented on #2
New update to softblock seems to have fixed the issue...

[2020-12-10 07:21] lauralee11778 opened #4 "Help please - Termux AndroidOS"
![Screenshot_20201210-015907_Termux](https://user-images.githubusercontent.com/70457592/101732656-90415d00-3a8b-11eb-81ff-23bdfdca3504.jpg)
Hey man, so I'm hell bent on getting this to work on my phone. (AndroidOS). I've gotten this far...everything but the last step. I'm using Termux which works pretty well overall, and the Javascript node was not a problem. I even have the zip file downloaded an

[2020-12-10 13:50] YoungPhoenix09 commented on #2
@RenewedKeys what do you mean by softblock?

[2020-12-10 14:30] brittromo commented on #2
So, because of this Softblock issue, this CLI code no longer works, is that correct?

[2020-12-10 14:40] youenjoymyself commented on #2
At the moment it seems to be working fine for me...I don't know if the occasional redirects are purely load based or if they are flagging your client as suspicious and want you to do a reCaptcha.  I have noticed in the past few days if I open the site from multiple different browsers it would send me to a reCaptcha even when the queue wasn't up.  Maybe I was getting flagged for my activity?  I'm g

[2020-12-10 14:48] spencerlichtenstein commented on #2
Running Windows 10 Pro build 19042 and installed this morning. No issues so far, I have been running for about 14 minutes and have ~170 tries so far with no issues. This is excellent, hoping for the best @camtheperson . Will advise on any issues.

[2020-12-10 16:40] cpolitz opened #5 "Script intermittently stops trying after a few hundred attempts"
Had it run to 287 before not trying anymore.  Restarted then started again and stopped in the 300s
node v12.19.0
Windows 10 Enterprise

Let me know if I can provide any additional details

[2020-12-10 16:43] camtheperson commented on #2
Update on this issue: https://twitter.com/CamThePerson/status/1337073452201611264?s=20

Closing this ticket out for now. The temporary workaround is to run the script again, although I have an idea for a fix I'll be able to test as soon as I can hit the actual queue page again.

[2020-12-10 16:43] #2 closed, assigned to nobody

[2020-12-10 16:44] camtheperson commented on #5
Update on this issue: https://twitter.com/CamThePerson/status/1337073452201611264?s=20

Closing this ticket out for now. The temporary workaround is to run the script again, although I have an idea for a fix I'll be able to test as soon as I can hit the actual queue page again.

[2020-12-10 16:44] #5 closed, assigned to nobody

[2020-12-10 16:45] camtheperson commented on #4
Unfortunately, I have zero experience with AndroidOS, and therefore cannot provide support on such a specific use case.

I would encourage you to look into other resources online for getting Node scripts running on AndroidOS, although ideally you'd run this on a PC or Mac if at all possible.

Good luck!

[2020-12-10 16:45] #4 closed, assigned to nobody

[2020-12-10 16:53] cpolitz commented on #5
Thanks, is possible the proliferation of this is causing overload on psdirect creating more false queue pages :)

[2020-12-10 16:54] RedLightning485 opened #6 "PlayStation 5"

[2020-12-10 17:00] cmwetherell opened #7 "Error after running npm run watch"
npm ERR! code 1
npm ERR! path /Users/xxx/Downloads/get-my-ps5-master
npm ERR! command failed
npm ERR! command sh -c node index

Steps I fdollowed:

Doanloaded and unzipped
navigated to directory
npm install
npm run watch
type disc
error

Cheers, thanks for the help

[2020-12-10 17:16] jaredhensley opened #8 "exception not handled in checkForPlayStationRedirect async await"
(node:76664) UnhandledPromiseRejectionWarning: Error: connect ETIMEDOUT 69.192.7.202:443
    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1129:14)
(node:76664) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). (rejection i

[2020-12-10 17:20] sargas333 opened #9 "false positive"
The bot was working perfectly but something change this morning. Every time I start it tells me that it found one and logs me in. But its still out of stock and no que. I think something change on the website.

[2020-12-10 18:39] mikeyplaut opened #10 "False positive and can no longer log into Playstation on my PC"
Was able to get around 400pings before getting a false positives each time now. Now I can't even login to Playstation on chrome on my pc. (I can still login on my phone using wifi)

[2020-12-10 18:48] camtheperson commented on #9
Sounds like the version you downloaded is out of date.

Update here: https://twitter.com/CamThePerson/status/1337105964374269953

[2020-12-10 18:48] #9 closed, assigned to nobody

[2020-12-10 18:49] #6 closed, assigned to nobody

[2020-12-10 18:50] camtheperson commented on #3
Yep. This is a legitimate, bot-breaking issue.

If anyone has time to look into this before tonight, I'd greatly appreciate it. Otherwise, the bot will not work in it's current state.

Update here: https://twitter.com/CamThePerson/status/1337105964374269953

[2020-12-10 19:09] jaredhensley commented on #3
@

How does this break the bot? The server sees that this request is not coming from a browser and returns this response? can we mask the headers somehow?

[2020-12-10 19:21] cristiang777 commented on #3
I tried adding a user agent to axios but that didn't change the result. Not sure how to enable (or even if possible) the JavaScript engine in axios.

[2020-12-10 19:25] jaredhensley commented on #3
I think we could simply handle this response by parsing it and treating it as an active queue scenario.  Do you get this response on each call or only when the queue goes live?

[2020-12-10 19:26] jaredhensley commented on #3
or we could make this an actual web app and have these requests go out from the browser and then redirect accordingly.

[2020-12-10 19:37] damm commented on #3
If content-type is set to application/json axios should parse the javascript automatically according to [this](https://masteringjs.io/tutorials/axios/response-body#:~:text=Automatic%20Parsing,response%20into%20a%20JavaScript%20object.&text=Keep%20in%20mind%20that%20the%20response%20headers%20are%20sent%20by%20the%20server.)

[2020-12-10 19:44] sargas333 commented on #10
reloaded the updated version and it is running now without false positive. Over 500 tries. Thanks for the update!

[2020-12-10 19:45] bigtemp21 opened #11 "How do we uninstall this tool?"
Thanks for all your help creating this! When you get a chance, can you add a step for uninstall...typical uninstall npm or msiexec /x npm does not work.

[2020-12-10 19:58] damm commented on #11
if you just use npm install you should be able to just remove this directory and it's all gone.  As it should install in `./node_modules`

[2020-12-10 20:00] camtheperson commented on #3
@jaredhensley This breaks the bot because my initial GET will always (or at least often) return false negatives now.

Here's the response.data value for the initial GET
[code]

You can see this in action on the client side by using the following steps to replicate:
1. Open an incognito or private window.
2. Open DevTools, go to the Network tab, and preserve the network log.
3. Go to https://direct

[2020-12-10 20:07] alexsheehan commented on #3
I thought about this too, but wouldn't this have the same fate as if we just sat on the page and refreshed manually (which doesn't work)?

[2020-12-10 20:41] camtheperson commented on #11
☝️ this.

[2020-12-10 20:41] #11 closed, assigned to nobody

[2020-12-10 21:54] camtheperson commented on #3
Just merged a fix. Update here: https://twitter.com/CamThePerson/status/1337153618277851136

Pull the latest, run npm (or yarn) install, and it should be good.

[2020-12-10 21:54] #3 closed, assigned to camtheperson

[2020-12-10 21:55] camtheperson commented on #10
Just merged a fix. Update here: https://twitter.com/CamThePerson/status/1337153618277851136

Pull the latest, run npm (or yarn) install, and it should be good.

[2020-12-10 21:55] #10 closed, assigned to nobody

[2020-12-10 21:55] camtheperson commented on #8
Just merged a fix. Update here: https://twitter.com/CamThePerson/status/1337153618277851136

Pull the latest, run npm (or yarn) install, and it should be good.

[2020-12-10 21:55] camtheperson commented on #7
Just merged a fix. Update here: https://twitter.com/CamThePerson/status/1337153618277851136

Pull the latest, run npm (or yarn) install, and it should be good.

[2020-12-10 21:55] #7 closed, assigned to nobody

[2020-12-10 23:26] cmwetherell commented on #7
Too bad I didn't see this before today's drop :)

Will be trying tomorrow. TY!

[2020-12-10 23:35] mikeyplaut opened #13 "Can't login to psn besides when in an incognito tab"
Can you make it so it opens an incognito window?

[2020-12-10 23:38] dronf commented on #10
I was on the version just before this fix(i pulled about 30 mins before it was commited :/ ), and it got me right into the queue, but I was unable to login to playstation direct, even after resetting my password and jumping on a VPN.  I tried another machine with a different IP, and was able to get in.   Would your most recent fix have fixed that issue, or did i get hit with an unrelated softban?

[2020-12-10 23:50] alechemy commented on #10
@dronf I encountered the exact same issue -- and was also running the version before this PR. But I did manage to eventually log in to PS Direct by navigating to https://direct.playstation.com/en-us in a new window. I then closed that window, jumped back to the product page, refreshed, and then managed to place my order.

This doesn't answer your question, but in case you encounter the same issue

[2020-12-10 23:53] dronf commented on #10
Will give that a try...hopefully they drop more inventory soon!

thanks

[2020-12-11 00:10] Jswill11AZ commented on #13
Try this.

https://www.howtogeek.com/137466/how-to-always-start-any-browser-in-private-browsing-mode/#:~:text=If%20you're%20using%20a,and%20then%20the%20word%20incognito.

[2020-12-11 00:47] mikeyplaut commented on #13
Doing that just makes it so when I open chrome it's in incognito mode, the program still opens into normal chrome

[2020-12-11 01:25] mikeyplaut commented on #13
Made a fix index.js @ line 27
open(playstationType[choice].url, {app: ['chrome', '--incognito']});

[2020-12-11 01:30] mikeyplaut commented on #13
The program works great btw, I was put into queue right away, got into site few minutes after stock dropped, but was unable to login so😣

[2020-12-11 01:35] Jswill11AZ commented on #13
Nice!! So what was the issue not running in incognito? And now if it runs in incognito you just have to sign in psn when you hit the queue??

I read something this morning saying Sony set a work around to log IPs that ping the site like a bot would. So I didn’t try it today, went old fashioned and missed out. Will try it tomorrow

[2020-12-11 01:40] mikeyplaut commented on #13
Yea I'm pretty sure my ip got flagged or something. I've tried clearing chrome browser history/cookies and just can't seem to login. If I try in an incognito tab than I can login no problems, which makes me think it's not an ip problem. Also some people have the problem of not being able to get into the queue right away because they sit on the site before the queue starts, and using a new incognit

[2020-12-11 01:43] Jswill11AZ commented on #13
That is exactly what happened to me today. Was sitting on the sight in incognito and manually switching between console and digital and it would not put me in the queue. Updating line 27 with your addition. Hope there is a drop tomorrow.

Thanks and good luck.

[2020-12-11 06:06] midshoreit opened #16 "Cannot Run Bot After Successful Launch and Close"
Here's one for ya:
 I can only run the bot once. If I close it correctly, and then later open a new elevated command prompt, open the working directory, and try to run, it just sits there. Tried `npm install` - same thing, sites there. Tried `npm run watch` - just sits there. If I reboot my system, I can run the bot again. Thoughts? Last tested with v1.1.0.

I'm running W10 Pro with an i7 8th gen,

[2020-12-11 07:25] yaboijonno opened #17 "Running into issue trying to run"
Platform - Macos Big Sur (11.0.1)
Node Version - 15.4.0
npm version - v7.0.15

Currently I can get past which version i want and if i want an alarm but then when it tries to run it I get this message

Searching for PlayStation 5 disc edition...
/Users/yaboijonno/Desktop/get-my-ps5-master/node_modules/puppeteer/lib/cjs/puppeteer/node/Launcher.js:79
                throw new Error(missingText);

[2020-12-11 14:13] adamsatar opened #18 "Specifying a custom root CA"
Hi Cam,

Really great work for spinning up this script. Works as advertised. My js knowledge is limited, so instead of hacking around, thought I'd just ask: where would be the best place to specify a CA file? I'm currently getting

UnhandledPromiseRejectionWarning: Error: net::ERR_CERT_AUTHORITY_INVALID at https://direct.playstation.com/en-us/consoles/console/playstation5-console.3005817

[2020-12-11 16:29] #13 closed, assigned to nobody

[2020-12-11 16:31] Tahnit opened #19 "Error after 500 retries."
![image](https://user-images.githubusercontent.com/75852360/101929047-f5847380-3b9b-11eb-82d8-3ffc5aedc8c4.png)

got this error after 500 or so retries.

[2020-12-11 16:35] camtheperson commented on #19
Gotcha. In this case, I would just boot it up back up.

If it runs fine for 500 retries x 5 seconds = 2,500 seconds = nearly 42 minutes, without getting an error, I'm okay with that.

[2020-12-11 16:35] camtheperson commented on #18
Are you getting this error immediately, or after a number of retries? If so, how many?

[2020-12-11 16:38] camtheperson commented on #17
@skogaby I feel like it downloads headless Chrome as part of `npm install`. At least that's what I saw during testing. Is that your expectation?

If not, I wonder if this has anything to do with what browsers an individual already has installed.

Speaking of which, @yaboijonno, which browsers do you have installed?

[2020-12-11 16:38] camtheperson commented on #16
Any error messages?

[2020-12-11 16:46] shahmirn commented on #18
@camtheperson The only thing I can think of is people being behind a corporate firewall, which might cause this issue.
The puppeteer launch code can be modified to ignore certificate errors. See: https://github.com/puppeteer/puppeteer/pull/177 or https://stackoverflow.com/q/55207690

[2020-12-11 17:17] ghost opened #20 "Sound support for Linux"
Added sound support for linux distros with the following code change:

[code]
Obviously requires mplayer installed.

Works as expected. Thank you for this project, works great!

[2020-12-11 17:36] bored28 opened #21 "Sound doesn't play on mac when using npm run sound"
When using npm run round on a mac with 11.0.1, no sound is played.  However, when running afplay ./alarm.mp3 from the folder, the sound plays.

[2020-12-11 18:13] outphase84 commented on #18
This would indicate that a non-trusted CA is in play, which would be somewhat common if running in a corporate environment or a prosumer environment with SSL inspection enabled.

[2020-12-11 18:19] #20 closed, assigned to nobody

[2020-12-11 18:24] outphase84 commented on #19
@camtheperson failure was a result of DNS resolution failing -- should be rather trivial to fix this with try/catch

[2020-12-11 18:35] dhatch6 opened #23 "Pupeteer error after updating to 1.1 on OSX"
Running on OSX.
Pulled master (currently at 1.1)
Ran NPM install
Ran NPM run watch failed
deleted node modules and re-ran npm install/run watch but got the same error.

Previously worked yesterday before pulling 1.1

Error Message:

/Users/User/Documents/workspace/get-my-ps5/node_modules/puppeteer/lib/cjs/puppeteer/common/Page.js:707
        catch {
              ^

SyntaxError: Unexpected token {

[2020-12-11 18:41] camtheperson commented on #19
Potential solution (untested):
[code]

[2020-12-11 18:43] Tahnit commented on #19
What do I do to fix it? Not a coder lol

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Cameron Hermens<mailto:notifications@github.com>
Sent: Friday, December 11, 2020 12:41
To: camtheperson/get-my-ps5<mailto:get-my-ps5@noreply.github.com>
Cc: Tahnit<mailto:tahnitftw@outlook.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [camtheperson/get-my-ps5]

[2020-12-11 18:51] camtheperson commented on #19
@Tahnit That's for me to do later lol. Ignore.

[2020-12-11 18:56] outphase84 commented on #19
Reworked solution -- had issues due to declaration of variables failing @camtheperson this one works, I had a chance to test it:

[code]

![image](https://user-images.githubusercontent.com/35817911/101943134-97b25480-3bb8-11eb-95cd-ce5c071eec3a.png)

[2020-12-11 19:05] yaboijonno commented on #17
I have firefox, chrome and safari

On Fri, Dec 11, 2020 at 8:38 AM Cameron Hermens <notifications@github.com>
wrote:

--
Jonathan Ruiz Backstage Pass Media

[2020-12-11 19:11] koalabuttz opened #25 "After 2632 tries, TimeoutError occured"
Windows 10, fresh Node install. Running through Windows Terminal.

Everything runs and the test commands work great, but I left the script running overnight and when I woke up the next morning I found this message.
![Screenshot 2020-12-11 140546](https://user-images.githubusercontent.com/27229333/101944074-1cea3900-3bba-11eb-9edc-71649c7fe5e9.png)
There are a few warnings, but most obvious one to

[2020-12-11 19:14] Qiming-C commented on #25
I had the error, I assume maybe its network connection error since my internet connection is unstable I have this error message every hundred tries

[2020-12-11 19:17] koalabuttz commented on #25
This is quite possible, Comcast has dropped my network connection in the wee hours of the morning, presumably for maintenance, before.

[2020-12-11 19:20] jaredhensley commented on #8
I don't think this was fixed, there is no exception handling in this async await.  Errors are still being thrown from time to time.  The exception needs to be handled and then continue on, effectively ignoring the exception.

[2020-12-11 20:00] midshoreit commented on #16
Alright, dug deeper. It appears to be an A/V issue. Even with exceptions set for the entire folder, the FILE GUARD feature of my security program was actually stopping all the external actions of the script, from the sounds to the site openings. Disabled that feature and everything works. I would only suggest at this point to TRY and make the alert sound a windows event. Currently when the alarm f

[2020-12-11 20:30] ManOrMonster commented on #25
I also received the error today. It's produced by Puppeteer.

https://ourcodeworld.com/articles/read/1106/how-to-solve-puppeteer-timeouterror-navigation-timeout-of-30000-ms-exceeded

In utils.js, I added this at line 48: `await page.setDefaultNavigationTimeout(0);` right before `await context.close();`. Not sure if that's the right place for it, but it's working so far. I believe you'll need to ru

[2020-12-11 20:38] dhatch6 commented on #23
Had the same problem on windows. Realized my installed Node version is too far behind to work with the newest version of Pupeteer. Updated nodejs and script is working successfully now.

[2020-12-11 20:38] #23 closed, assigned to nobody

[2020-12-11 21:40] camtheperson opened #26 "Some users are directed to the product page instead of the queue"
Consider directing users to the queue directly instead:

Console edition: https://direct-queue.playstation.com/?c=sonyied&e=psdirectprodku1&t=https%3A%2F%2Fdirect.playstation.com%2Fen-us%2Fconsoles%2Fconsole%2Fplaystation5-console.3005816&cv=1089561812&cid=en-US

Digital edition: https://direct-queue.playstation.com/softblock/?c=sonyied&e=psdirectprodku1&t=https%3A%2F%2Fdirect.playstation.com%2Fen

[2020-12-11 21:59] NathanR-85 opened #27 "Browser tab opens several seconds slower when alarm sound is enabled"
Maybe it's waiting for the MP3 to finish playing?

[2020-12-11 21:59] mamadou-diallo commented on #26
Let me take care of this !

[2020-12-11 22:09] azazael13 opened #28 "Couple of quick questions."
I saw on twitter that this was potentially not working after a javascript change on Sony's side yesterday, is that still the case?

Is it possible to just have it open the site and get in the queue right away? I don't need it to put it in my cart and check out for me, I just need to get in the damned queue right away. Beyond that I still have to put all my payment info in since I can't find a way

[2020-12-11 22:16] adamsatar commented on #18
It's immediate and a product of the network environment. Was just looking for a way to deal. I'll check out what @shahmirn said.

Thanks!

[2020-12-11 22:16] #18 closed, assigned to nobody

[2020-12-11 22:23] baileygranam commented on #27
I found that if you move the `open()` function call above
[code]

it will open the browser immediately first, then play the sound

[2020-12-11 22:33] ManOrMonster commented on #25
FYI, I just found out there was a drop an hour ago and I wasn't notified at all. So either this script is not working or my timeout fix broke it.

[2020-12-11 22:35] ManOrMonster commented on #28
It didn't work for me on the drop today. I have one running for disc and one for digital, never fired at all.

[2020-12-11 22:37] aleath commented on #28
I got the alert today, but the browser didn't open. I'm fine with just the alert, though.

[2020-12-11 22:42] ManOrMonster commented on #26
Remove `/softblock` from the digital URL.

[2020-12-11 23:12] damm commented on #27
Yes it took about 5-6 seconds before the window opened.

[2020-12-11 23:12] gconcepcion commented on #28
It worked for me on the drop today

[2020-12-12 00:33] luitjens opened #29 "UnhandledPromiseRejectionWarning"
I'm getting the following error on win10:

Error log:

C:\Users\username\Documents\GitHub\get-my-ps5>npm run watch

Which version would you like? (disc or digital) disc
Would you like to hear a loud, annoying alarm when we find your PS5? (Y or N) Y
Searching for PlayStation 5 disc edition...
(node:31888) UnhandledPromiseRejectionWarning: Error: Could not find browser revision 818858. Run "PUPPETEE

[2020-12-12 02:08] camtheperson commented on #26
@mamadou-diallo Please branch from/target your PR to `camtheperson:rc/1.2.0` (https://github.com/camtheperson/get-my-ps5/tree/rc/1.2.0) when it's ready to review. Thanks!

[2020-12-12 02:09] j70ivuu8 opened #30 "部怕呵椒焙吭箍举亩善"
怯捕抑猜恍漳目颖耘拷艘遣敌蚊撕坏硕医救乇沤颐瞪撑冶患却碌敌揖按静闻紊袄鲜踊醒糯防构廖少俨伦刂缘假仙俚敖倒账淌祷盖次饰陌佬仄栏挛盅释喊倩乃返闲宰蠢瞻捎覆吹了自俺衣菲寻日墒讨嫡缴辟葡计抑妥唤蚕炎付时部逃钥

[2020-12-12 02:37] #30 closed

[2020-12-12 03:17] xodqlymh opened #31 "八虎动漫2017排行榜lzdlt"
八虎动漫2017排行榜福建正能量检察好声音
欢迎订阅福建检察微信号！
根据最高人民检察院部署，自年月至年月，全国检察机关统一开展监督维护在押人员合法权益专项活动，重点监督以下三个方面：
▲一、依法维护监狱罪犯等在押人员获得

[2020-12-12 03:17] xodqlymh opened #32 "动漫图片打包下载ftzfp"
动漫图片打包下载为进一步深入开展清理整治“三非”外国人专项行动，南头警方按照“专群结合、群防群治”的工作思路，充分发挥治安积极分子和群众举报力量，加大对“三非”外国人的查处力度，全力遏制我镇“三非”外国人的蔓延发展。

[2020-12-12 03:17] xodqlymh opened #33 "第6届中国国际动漫节ztpjt"
第6届中国国际动漫节新华社北京月日电，七月北京，见证老友相聚的无限喜悦，开启中阿友好的崭新航程。日，中阿合作论坛第八届部长级会议在人民大会堂开幕，习近平主席发表重要讲话，盘点４年来双方携手共建“一带一路”的累累硕果，围绕

[2020-12-12 03:33] koalabuttz commented on #25
I applied your fix before the drop hit and it alerted me properly, I just happened to be away when it happened. I just think there's just some bugs to be weeded out. I restarted it after the drop and literally just passed try 2632 and going strong, so we'll see if by tomorrow it's still going properly.

[2020-12-12 03:35] #31 closed

[2020-12-12 03:35] #32 closed

[2020-12-12 03:35] #33 closed

[2020-12-12 04:46] outphase84 commented on #29
@luitjens can you try issuing the command "npm i puppeteer" from the get-my-ps5 directory?

[2020-12-12 06:47] outphase84 commented on #25
@ManOrMonster @koalabuttz Avoid this "fix" -- you're telling puppeteer to never time out by doing that.  We *want* it to time out if PS Direct is being unresponsive, so we can abort the attempt and try again.

I have a pull request pending that adds error handling that will resolve this issue

[2020-12-12 10:04] johnnyboy007 opened #35 "has anyone got the UK Urls that are needed for this to work on the UK store ?"

[2020-12-12 10:05] johnnyboy007 commented on #35
Ive altered some of the Urls myself but Im not sure exactly which ones are needed.

https://www.playstation.com/en-gb/ps5/buy-now/ is the one ive used for the Const

[2020-12-12 14:31] luitjens commented on #29
thanks that worked.

[2020-12-12 16:11] koalabuttz commented on #25
@outphase84 Thank you for the clarification! Appreciate you putting in that work. I deleted that line of code and tried to use your pull request overnight, but encountered this error after it failed to connect, perhaps it is related?
![Screenshot 2020-12-12 110909](https://user-images.githubusercontent.com/27229333/101988888-9e999f80-3c6a-11eb-88be-07abc477a404.png)

[2020-12-12 16:14] outphase84 commented on #25
Hang tight, let me do some regression testing.

[2020-12-12 16:19] camtheperson opened #36 "Users are directed to the queue regardless of which edition they choose"
Currently, the bot directs people to the site as soon as a queue starts forming. However, the queue itself is edition-agnostic, meaning a user running the script could get directed to the site even when their desired edition isn't available.

It would be nice to more effectively detect which edition is actually in stock, and perhaps only send users to the queue if their desired edition is availabl

[2020-12-12 16:31] outphase84 commented on #25
@koalabuttz Sorry, I'm an idiot.  I manually pulled in my changes to github and missed a change.  Stand by, syncing my fork and updating the PR.

In the interim, you can update line 62 to mitigate this:

[code]

[2020-12-12 16:49] outphase84 commented on #29
PR created to update readme with steps to resolve

[2020-12-12 16:55] outphase84 commented on #8
Fixed in 1.2

[2020-12-12 16:56] #25 closed, assigned to outphase84

[2020-12-12 16:57] koalabuttz commented on #25
@outphase84 Haha you're no idiot, you're human 😊 and one that definitely understands what they're looking at more than I do! Good catch.

[2020-12-12 16:57] #19 closed, assigned to outphase84

[2020-12-12 16:59] outphase84 commented on #8
@jaredhensley see the linked pull request prior to 1.2 release -- you can merge code into current build to resolve this issue, or wait for 1.2 to drop and fix will be in there

[2020-12-12 16:59] #8 closed, assigned to outphase84

[2020-12-12 17:16] Jswill11AZ commented on #28
It worked on the drop for me. However, I saw tweet notification on phone first and got in there. This was about 4 seconds slower, which equated to an additional 8 minutes of estimated wait time.

[2020-12-12 18:57] lkspies opened #38 "Timing Out, Won't run on its own"
Running on Windows 10 from Documents folder. Node was installed into my program files.

I am getting a timeout error that precents the bot from running on its own for long periods of time.  Highest number of tries i got was 297.  This has been pretty consistent at failing around the 30 try mark.  Below is the full dump of error message:

C:\Users\thund\Documents\PS5\get-my-ps5-master\get-my-ps5-ma

[2020-12-12 19:22] sfilargi opened #39 "Sony will ban your IP if you run this script for too long"
After running it for 12 hours, I now get the follow message from all my devices at home:

[code]

[2020-12-12 19:48] outphase84 commented on #38
@lkspies fixed in upcoming 1.2, see linked pull request if you would like to implement prior to 1.2's release

[2020-12-12 19:48] #38 closed, assigned to nobody

[2020-12-12 19:51] outphase84 commented on #35
@johnnyboy007 as far as I know, playstation direct is US-only.  I'm not sure any contributors have tested or know how UK's distribution works

[2020-12-12 19:53] outphase84 commented on #28
Currently working with a few bugs -- closing this issue as it's more of a general question and it's been answered

[2020-12-12 19:53] #28 closed, assigned to nobody

[2020-12-12 19:55] outphase84 commented on #27
Planned fix in 1.2 -- in the interim, you can fix this by modifying index.js and changing this:

[code]

to this:

[code]

[2020-12-12 19:59] NathanR-85 commented on #27
Thanks, did this already based on @baileygranam's suggestion. But glad you confirmed it will work - time is of the essence!

[2020-12-12 20:23] mikeyplaut commented on #39
same, opening an incognito tab seems to allow you to login

[2020-12-12 22:39] camtheperson opened #40 "Some users would like the ability to customize their browser"
Ideal implementation:
- Create an `.env-example` file
- Users would copy that file into `.env` to set it up locally
- The `.env` file would include parameters for browser path, and incognito (true/false)
- Ultimately, we should still give the user the option to test the opening of the browser as well

[2020-12-12 23:20] camtheperson commented on #39
@sfilargi Thanks for bringing this up. I'm adding some notes about this to our core readme file in the next release.

Ultimately, the solution here isn't gonna come from any code I write. It's gonna come from using a VPN and understanding the risk (which the updated docs speak to).

Thanks again! Closing this out.

[2020-12-12 23:20] #39 closed, assigned to nobody

[2020-12-12 23:22] camtheperson commented on #17
@yaboijonno Can you try running the following command from the `get-my-ps5` folder, and then let me know if that resolves your issue? Thanks.

`npm install puppeteer`

[2020-12-12 23:51] Jusdutari opened #42 "Maybe an issue?"
Hi, I do not know anything on this subject. Am I running ok the bot? Do I have some issues? Because it looks weird to me

Last login: Sat Dec 12 18:24:45 on ttys000

The default interactive shell is now zsh.
To update your account to use zsh, please run `chsh -s /bin/zsh`.
For more details, please visit https://support.apple.com/kb/HT208050.
Justins-MacBook-Pro:get-my-ps5-master-2 justindutari$ np

[2020-12-13 00:04] camtheperson commented on #42
@Jusdutari Nope. It installed successfully, and the messages you see repeated at the end mean it’s working.

I’m working on updating the messages so it’s more clear that it’s running correctly. Keep an eye on my Twitter account for an update on when the next version is released.

[2020-12-13 00:04] #42 closed, assigned to nobody

[2020-12-13 00:11] camtheperson commented on #16
@midshoreit Perfect. Glad to hear you figured it out.

Thanks for your feedback on the alarm. A few other people noted that as well, so I've moved the `open` action before playing the sound to ensure it isn't delayed.

Closing this out.

[2020-12-13 00:11] #16 closed, assigned to nobody

[2020-12-13 00:55] #26 closed, assigned to mamadou-diallo

[2020-12-13 00:55] #27 closed, assigned to camtheperson

[2020-12-13 00:55] #29 closed, assigned to outphase84

[2020-12-13 01:24] outphase84 commented on #36
@camtheperson no good way to do this, really. Sony initiates prequeueing before any stock is added. Prequeue seems to last 10-30 minutes before stock is loaded and queued users get access.

Closest approximation would be to queue and then launch a function to check stock on both versions, but this is questionable as previous drops have added one to start, then the other shortly after.

[2020-12-13 02:39] ReyHaynes commented on #39
12 hours is dangerously long to run this but I've also used the bot for 24 hours without a ban. I took the liberty of adding an additional random 0-5 seconds to the original 5 seconds. Not sure if that helped, or the fact that there were fewer iterations of IP hitting their analytics backlog, but not banned as of yet.

I do also recommend a VPN as well as running this near their usual drop times.

[2020-12-13 07:33] drewdadon opened #45 "@camtheperson Please help will donate!!"
@camtheperson please help me tried everthing to resolve these errors for hours nothing is working. Please help i will donate!
npm ERR! code ELIFECYCLE
npm ERR! syscall spawn bash
npm ERR! file bash
npm ERR! path bash
npm ERR! errno -4058
npm ERR! get-my-ps5@1.2.0 watch: `node ./src/index`
npm ERR! spawn bash ENOENT
npm ERR!
npm ERR! Failed at the get-my-ps5@1.2.0 watch script.
npm ERR! This is pro

[2020-12-13 07:42] andrewfouad commented on #45
Error: Cannot find module 'puppeteer'
Require stack:
- C:\Users\Drewski\Desktop\get-my-ps5\src\index.js
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:880
:15)
    at Function.Module._load (internal/modules/cjs/loader.js:725:27)
    at Module.require (internal/modules/cjs/loader.js:952:19)
    at require (internal/modules/cjs/helpers.js:88:18)
    at Object.<anonymous> (C:

[2020-12-13 07:46] andrewfouad commented on #45
Error: Cannot find module 'puppeteer'
Require stack:
- C:\Users\Drewski\Desktop\get-my-ps5\src\index.js
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:88
    at Function.Module._load (internal/modules/cjs/loader.js:725:27)
    at Module.require (internal/modules/cjs/loader.js:952:19)
    at require (internal/modules/cjs/helpers.js:88:18)
    at Object.<anonymous> (C:\Users

[2020-12-13 08:57] drewdadon commented on #45
NVM i figured it out! you a goat

[2020-12-13 08:57] drewdadon commented on #45
if works ill donate

[2020-12-13 17:34] #45 closed, assigned to nobody

[2020-12-13 20:35] johnnyboy007 commented on #35
Ok no worries, thanks for your response

Sent from my iPhone

[2020-12-13 21:55] camtheperson commented on #17
@yaboijonno We've seen this issue fixed using the steps above for other users.

Closing this out.

[2020-12-13 21:55] #17 closed, assigned to nobody

[2020-12-13 21:56] #35 closed, assigned to nobody

[2020-12-14 02:59] SidKwok opened #46 "Only US store? How about HK?"

[2020-12-14 12:53] outphase84 commented on #46
@SidKwok

PS Direct queue logic is US-only

Currently no devs outside of US.  We would likely need HK contributors to investigate relevant API endpoints and store behavior in order to support HK.  Current emphasis is on hardening logic for US store and expanding to other US stores

[2020-12-14 12:53] #46 closed, assigned to nobody

[2020-12-14 12:56] outphase84 opened #48 "UI/UX is poor, and will get worse as additional store support is added."
Investigate pushing data into dynamic CLI table.  Need to investigate existing UI options for streaming data to console in table format.

[2020-12-14 17:49] jasonraimondi commented on #40
I've added a PR #49 that adds this feature

[2020-12-14 19:02] ReyHaynes commented on #48
A simple strategically placed `console.clear()` is good enough in this case for every iteration ran. That's what I ended up doing for myself.

[2020-12-14 19:05] outphase84 commented on #48
@ReyHaynes Which is fine for the current iteration, but becomes problematic when we add additional stores that run asynchronously.

I'm working on a UI overhaul in general, this is less of an issue and more of a pseudo-user story for that

[2020-12-14 20:11] austeny opened #51 "url passed to puppeteer browser wrong for digital edition ps5"
The url passed to puppeteer if the digital edition ps5 is chosen routes to a 404 Page Not Found playstation page. This might not matter since the goal is to look for "queue-it_log" instead of "softblock" but just wanted to note that the urls between ps5 disc and ps5 digital are different besides just the version ID.

[2020-12-14 20:41] camtheperson commented on #51
@aquafishe Which version are you on? The latest version (1.2.0) uses this URL for the digital edition:

https://direct-queue.playstation.com/?c=sonyied&e=psdirectprodku1&t=https%3A%2F%2Fdirect.playstation.com%2Fen-us%2Fconsoles%2Fconsole%2Fplaystation5-digital-edition-console.3005817&cid=en-US

Just checked and that is not routing to a 404 page for me.

[2020-12-14 20:44] camtheperson commented on #51
@aquafishe Ah okay, I see what you're saying. This:
[code]

You are right. So, this should definitely be fixed. Luckily for us, it shouldn't break the bot in the short term, since Sony implements the queue regardless of which page you hit on their store (presumably even the 404 page).

[2020-12-14 20:48] austeny commented on #51
@camtheperson, yes exactly it shouldn't break anything since you don't care what page you end up at. Side note, out of curiosity how did you know to look for 'queue-it_log' in the response?

[2020-12-14 20:55] camtheperson commented on #51
@aquafishe `'queue-it_log` is a CSS class that is present on the queue page, but not on the product page.

[2020-12-14 21:01] camtheperson opened #52 "Handle Puppeteer timeouts more elegantly"
First, let's present the error to the user to make future troubleshooting easier. Something like this:

[code]

Secondly, let's implement one of these fixes for the Puppeteer timeout issue: https://ourcodeworld.com/articles/read/1106/how-to-solve-puppeteer-timeouterror-navigation-timeout-of-30000-ms-exceeded

[2020-12-14 21:07] camtheperson opened #53 "Feature: alarm when your IP has been banned"
Pretty sure there should be a way to do this based on a response code or something.

[2020-12-14 22:36] damm commented on #53
Does sony return a 403 if your IP is banned, or is it more nefarious?

[2020-12-14 23:08] austeny commented on #53
Someone (@Bubs) mentioned in Saru's discord that 12/13 7:47 AM that they were IP banned and received an Access Denied message. You could probably parse for an HTML title or h1 for Access Denied and a 403.

![access_denied_ps_ip_ban](https://user-images.githubusercontent.com/25534058/102146604-49f74f80-3e37-11eb-8ed7-527422337090.png)

[2020-12-15 18:33] drootang commented on #53
Can confirm that I received the message @aquafishe posted, although the reference # was different

(fwiw, i was able to get my ps5, so thank you! continuing to monitor to help a friend)

[2020-12-15 23:14] Tenkomanker opened #54 "Can't do npm install"
I follow the instructions up to typing cmd into the address bar and it opens cmd in the folder, but typing `npm install` just makes it return `'npm' is not recognized as an internal or external command, operable program or batch file.`

[2020-12-15 23:37] camtheperson commented on #54
@Tenkomanker Sounds like you didn’t install node. That’s the first step.

Please run the following commands (separately) and then paste the output from each:
`node -v`
`npm -v`

Thanks.

[2020-12-15 23:39] Tenkomanker commented on #54
I did install node though, the LTS version right? It even opens up a cmd window if I search and run it. Maybe I installed it wrong?

[2020-12-15 23:52] camtheperson commented on #54
Maybe. Please run the commands I noted above and give me the output.

[2020-12-16 04:02] Tenkomanker commented on #54
Hey! Sorry for such a late response, but I restarted my PC and reran the node installer for a repair and it got fixed. Thanks!

[2020-12-16 04:02] #54 closed, assigned to nobody

[2020-12-17 23:06] jasonraimondi opened #55 "Increase default interval based on new "random position in queue""
We should consider increase the default base interval from `5s` to something like `30s` to `1m` since the new playstation direct queue is putting users in a random position in queue.

This project is still useful because it will open the page when ready, allowing you to not have to worry about checking twitter or where ever else users are checking in stock notifications.

This will help negate bei

[2020-12-18 15:16] wibuf commented on #55
You can do this in index.js by editing this line:

`checkForPlaystationDirectRedirect(5000, onSuccess, playstationType[choice].id, await puppeteer.launch());`

To

`checkForPlaystationDirectRedirect(30000, onSuccess, playstationType[choice].id, await puppeteer.launch());`

Make it 60000 if you want a full minute instead of 30 seconds

[2020-12-18 18:08] jasonraimondi commented on #55
Thank you for the comment. My thought here is to increase the default timeout and allow users to customize the interval via dotenv. I've added support for this ticket here:

https://github.com/camtheperson/get-my-ps5/pull/49/files#diff-bfe9874d239014961b1ae4e89875a6155667db834a410aaaa2ebe3cf89820556R31

[2020-12-20 02:39] Contact2020 opened #56 "Preset configuration option for quick launch?"
I'd like to know if there is anything I can do to make it easier/quicker to launch this. Here is my current 5 step process
everytime I launch the bot.
1) open cmd
2) navigate to bot folder
3) npm run watch
4) select type
5) select yes to alert

How/would it be possible to setup a script or a shortcut that does those 5 steps automatically when I just click on an icon?

[2020-12-21 18:36] jasonraimondi commented on #56
If you use [my fork](https://github.com/jasonraimondi/get-my-ps5) ([until this PR is merged](https://github.com/camtheperson/get-my-ps5/pull/49)), you are able to set a .env file to preconfigure `alert` and `type` (and a few other options like check interval and browser).

A launcher depends on the platform, on mac or linux you can create an executable bash script to launch it. On windows, I think

[2020-12-29 09:00] winfieldxu opened #57 "Puppeteer installation failure on M1 Macs"
npm ERR! code 1
npm ERR! path /*/get-my-ps5/node_modules/puppeteer
npm ERR! command failed
npm ERR! command sh -c node install.js
npm ERR! The chromium binary is not available for arm64:

Ref: [https://chromium.googlesource.com/chromium/src.git/+/master/docs/mac_arm64.md](url)

[2021-02-26 20:29] doomed024 opened #58 "All Script comes up as missing?"
Hey all,

Trying to get npm run watch to work but I get kicked an error saying the script is missing. I also tried npm open and npm sound and it gave me the same error.

Steps I take:
run cmd (admin)
npm install
npm run watch (no dice)

node -v v15.10.0
npm -v 7.5.3

I do have a VPN set up and this thing HAS worked for me in the past but I gave up and went on to other things and now im trying to h

[2021-03-06 06:42] #55 closed, assigned to nobody

[2021-04-11 11:38] gunar opened #59 "Publish to npm"
Hey @camtheperson, if we publish to npm we could simplify instructions down to `npx get-my-ps5`. That'd be cool. What do you think?

[2021-04-20 21:55] ianprice943 opened #60 "Is this still active and working?"
I've had this script running for the past week now, and there have been two different Sony Direct restocks in that time, and this script has not alerted me, put me in queue, etc.

I have been using a vpn the whole time, and changing the IP of it every 12 hours or so, so I know I'm not IP banned.

[2021-06-02 08:01] faelg opened #61 "👍"

[2021-10-25 18:52] #61 closed, assigned to nobody

[2021-10-25 18:53] camtheperson commented on #60
Nope, this project hasn't been maintained for awhile. I just added a note about it to the top of the README about it.

[2021-10-25 18:53] #60 closed, assigned to nobody

[2021-10-25 18:53] camtheperson commented on #59
This project is no longer maintained. Closing this out.

[2021-10-25 18:53] #59 closed, assigned to nobody

[2021-10-25 18:53] camtheperson commented on #58
This project is no longer maintained. Closing this out.

[2021-10-25 18:53] #58 closed, assigned to nobody

[2021-10-25 18:54] camtheperson commented on #57
This project is no longer maintained. Closing this out.

[2021-10-25 18:54] #57 closed, assigned to nobody

[2021-10-25 18:54] camtheperson commented on #56
This project is no longer maintained. Closing this out.

[2021-10-25 18:54] #56 closed, assigned to nobody

[2021-10-25 18:54] camtheperson commented on #53
This project is no longer maintained. Closing this out.

[2021-10-25 18:54] #53 closed, assigned to nobody

[2021-10-25 18:54] camtheperson commented on #52
This project is no longer maintained. Closing this out.

[2021-10-25 18:54] #52 closed, assigned to nobody

[2021-10-25 18:54] camtheperson commented on #51
This project is no longer maintained. Closing this out.

[2021-10-25 18:54] #51 closed, assigned to nobody

[2021-10-25 18:54] camtheperson commented on #48
This project is no longer maintained. Closing this out.

[2021-10-25 18:54] #48 closed, assigned to outphase84

[2021-10-25 18:55] camtheperson commented on #40
This project is no longer maintained. Closing this out.

[2021-10-25 18:55] #40 closed, assigned to nobody

[2021-10-25 18:55] camtheperson commented on #36
This project is no longer maintained. Closing this out.

[2021-10-25 18:55] #36 closed, assigned to camtheperson

[2021-10-25 18:55] camtheperson commented on #21
This project is no longer maintained. Closing this out.

[2021-10-25 18:55] #21 closed, assigned to nobody

[2021-10-25 18:55] jasonraimondi commented on #56
If people want to use a version of this project WITH this MR, please feel free to use https://github.com/jasonraimondi/get-my-ps5

It is not actively maintained, but at least it contains this MR.